.ownerBg{
    background-image: url("../../../assets/destinationPage/home/admin.jpg");
    background-size: cover;
    width: 100%;
}

.ownerH1{
    padding-top: 20%;
}

.adminHome{
    color: white;
    margin-top: 30%;
}

.btnWagmi{
    margin-left: 40%;
}