.companyBg{
    background-image: url("../../../assets/modules/company/rear-view-businessman-talking-phone-city.jpg");
    background-size: 100% 100%;
    width: 100%;
    background-repeat: no-repeat;
    
}

.companyHome{
    padding-top:15%;
    color: white;
}

.companyBtn{
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
}




.card {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 300px;
    height: 400px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }
  
  .card::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: rgb(58,135,173);
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }
  
  .txt {
    z-index: 2;
  }
  
  .card:hover::before {
    transform: scale(7) translate(-20px);
  }
  
  .card:hover {
    box-shadow: 1px -10px 50px 50px #9fe4e44a;
    color: #f3f3f3;
  }
  